{
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "import/no-anonymous-default-export": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-prototype-builtins": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "max-len": ["error", {"code": 120, "ignoreComments": true, "ignoreStrings": true}],
    "no-console": 2,
    "prefer-object-spread": 2,
    "space-before-function-paren": ["error", "never"]
  },
  "ignorePatterns": [
    "node_modules",
    "build",
    "coverage",
    "src/test",
    "*.js",
    "*.spec.*"
  ]
}
