{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "at-rule-name-case": "lower",
    "at-rule-name-space-after": "always",
    "at-rule-no-unknown": true,
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-before": [ "always", {
      "severity": "warning"
    } ],
    "block-closing-brace-newline-after": "always",
    "block-no-empty": [ true, {
      "severity": "error"
    } ],
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": [ true, {
      "severity": "warning"
    } ],
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always-single-line",
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-block-semicolon-newline-after": [ "always", {
      "severity": "warning"
    } ],
    "declaration-block-trailing-semicolon": "always",
    "declaration-no-important": [ true, {
      "severity": "warning"
    } ],
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "function-comma-space-after": [ "always", {
      "severity": "warning"
    } ],
    "function-max-empty-lines": 0,
    "function-url-quotes": "always",
    "indentation": 2,
    "max-empty-lines": 1,
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "media-feature-name-case": "lower",
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-name-no-unknown": true,
    "media-feature-range-operator-space-after": "always",
    "media-feature-range-operator-space-before": "always",
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-eol-whitespace": true,
    "no-extra-semicolons": true,
    "no-missing-end-of-source-newline": true,
    "number-no-trailing-zeros": true,
    "property-case": "lower",
    "property-no-unknown": true,
    "selector-attribute-quotes": "always",
    "selector-class-pattern": [ "^[a-z0-9]+(-[a-z0-9]+)*$", {
      "severity": "warning"
    } ],
    "selector-combinator-space-before": "always",
    "selector-combinator-space-after": "always",
    "selector-descendant-combinator-no-non-space": true,
    "selector-list-comma-space-before": "never",
    "selector-max-empty-lines": 0,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown":  [ true, {
      "severity": "warning"
    } ],
    "string-quotes": [ "double", {
      "severity": "warning"
    } ],
    "unit-no-unknown": true,
    "unit-case": "lower",
    "value-keyword-case": ["lower", {"ignoreKeywords": ["dummyValue"]}],
    "value-list-max-empty-lines": 0,
    "value-no-vendor-prefix": [ true, {
      "severity": "warning"
    } ]
  }
}
