#main-content {
  @import "./content-baked.less";
}
#main-content > .os-glossary-container > dl > dt {
  font-weight: 700;
}
#main-content .insider-perspective h3 {
  border-bottom: 0.2rem solid #dcdcdc;
  color: #555;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 0 1.5rem 1rem;
  margin-top: 0;
}
#main-content .os-note-body {
  padding: 0 1.5rem;
}
#main-content blockquote {
  padding: 1rem 2rem;
  margin: 1rem 0 2rem;
  border-left: 0.5rem solid #dcdcdc;
}
#main-content figure {
  margin: 0;
}
#main-content table {
  border-collapse: collapse;
  border-spacing: 0;
}
