pytest>=6.2.5, <7.0.0
pytest-testrail>=2.9.0, <3.0.0
importlib-metadata>=4.8.2, <5.0.0
playwright>=1.22, <2.0
pytest-base-url>=2.0.0, <3.0.0
python-dotenv>=0.21.0, <1.0.0
requests>=2.32.0, <3.0.0
pytest-asyncio>=0.19.0, <1.0.0
pytest-cov>=4.0.0, <5.0.0
