/* Confirmation overlay styles */
.confirmation-overlay {
  background: rgba(0, 0, 0, 0.9);
  outline: none;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: background 200ms;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  overflow: visible;
  min-height: 100%;
  min-width: 100%;
  position: static;
  width: min-content;
}

.confirmation-overlay label {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.056rem;
  font-weight: 700;
  flex: 1;
  color: var(--text-white);
  margin-bottom: 1rem;
  overflow: visible;
}
