aspy.yaml==1.3.0
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
cfgv==3.2.0
chardet==4.0.0
chromedriver-binary==88.0.4324.27.1
cryptography==3.3.1
Faker==4.18.0
identify==1.5.10
idna==2.10
importlib-metadata==3.1.0
more-itertools==8.6.0
nodeenv==1.5.0
packaging==20.7
pluggy==0.13.1
pre-commit==2.9.2
py==1.9.0
pyAesCrypt==0.4.3
pycparser==2.20
pyparsing==2.4.7
PyPOM==2.2.0
pytest==6.1.2
pytest-base-url==1.4.1
pytest-html==3.0.0
pytest-metadata==1.11.0
pytest-securestore==0.1.3
pytest-selenium==2.0.1
pytest-testrail==2.9.0
pytest-variables==1.9.0
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.0
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.2
virtualenv==20.2.1
wcwidth==0.2.5
zipp==3.4.0
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.2.0
zope.proxy==4.3.5
