aspy.yaml==1.3.0
atomicwrites==1.4.0
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
chromedriver-binary==86.0.4240.22.0
cryptography==3.1.1
Faker==4.1.5
identify==1.5.5
idna==2.10
importlib-metadata==1.7.0
more-itertools==8.4.0
nodeenv==1.4.0
packaging==20.4
pluggy==0.13.1
pre-commit==2.6.0
py==1.9.0
pyAesCrypt==0.4.3
pycparser==2.20
pyparsing==2.4.7
PyPOM==2.2.0
pytest==6.0.1
pytest-base-url==1.4.1
pytest-html==2.1.1
pytest-metadata==1.10.0
pytest-securestore==0.1.3
pytest-selenium==1.17.0
pytest-testrail==2.8.3
pytest-variables==1.9.0
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
text-unidecode==1.3
toml==0.10.1
urllib3==1.25.10
virtualenv==20.0.29
wcwidth==0.2.5
zipp==3.1.0
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.proxy==4.3.5
