name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  linked_issue:
    name: Jira
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
    - uses: openstax/jira-linked-action@v0.1.15
      with:
        jira_site: openstax
        jira_project: DISCO
        jira_email: ${{ secrets.JiraEmail }}
        jira_token: ${{ secrets.JiraToken }}

  setup:
    name: Setup
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2023-08-10
    outputs:
      deployment-url: ${{ steps.find-deployment.outputs.url }}
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - run: yarn install --immutable --immutable-cache
    - name: Find Deployment
      id: find-deployment
      env:
        GIT_REF: ${{ github.event.pull_request.head.sha }}
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "url=$(./script/get-review-environment.bash)" >> $GITHUB_OUTPUT
      shell: bash

  scan-books:
    name: Scan
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2023-08-10
    needs: setup
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - run: yarn install --immutable --immutable-cache
    - run: ./script/validate-modified-books.bash
      env:
        BASE_URL: ${{ needs.setup.outputs.deployment-url }}

  test:
    name: Test
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2023-08-10
    strategy:
      fail-fast: false
      matrix:
        suite: [unit, build]
    env:
      CI: true
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - run: yarn install --immutable --immutable-cache
    - run: yarn ci:test:${{ matrix.suite }}
    - name: Upload coverage to Codecov
      if: matrix.suite == 'unit'
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./coverage/lcov.info
        fail_ci_if_error: false

  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2023-08-10
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - run: yarn install --immutable --immutable-cache
    - run: yarn lint

  abl:
    name: ABL Schema Tests
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2023-08-10
    needs: setup
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - run: yarn install --immutable --immutable-cache
    - run: ./script/validate-abl-import/test.bash
