name: CI

on: [pull_request]

jobs:
  dependencies:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/cache@v2
      id: node_modules
      with:
        path: node_modules
        key: node_modules8
    - uses: actions/cache@v2
      id: swagger_clients 
      with:
        path: src/clients 
        key: swagger_clients 
    - run: yarn install

  setup:
    name: Setup
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2020-01-26
    needs: dependencies
    outputs:
      deployment-url: ${{ steps.find-deployment.outputs.url }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/cache@v2
      id: swagger_clients 
      with:
        path: src/clients 
        key: swagger_clients 
    - uses: actions/cache@v2
      id: node_modules
      with:
        path: node_modules
        key: node_modules8
    - run: yarn install
    - name: Find Deployment
      id: find-deployment
      env:
        GIT_REF: ${{ github.event.pull_request.head.sha }}
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "::set-output name=url::$(./script/get-review-environment.bash)"

  selenium:
    name: Selenium
    runs-on: ubuntu-latest
    container: python
    needs: setup
    steps:
    - uses: actions/checkout@v2
      with:
        ref: master
    - env:
        BROWSER: 'Chrome'
        MARKER: 'smoke_test'
        BASE_URL: ${{ needs.setup.outputs.deployment-url }}
        SAUCELABS_USERNAME: ${{ secrets.saucelabs_username }}
        SAUCELABS_API_KEY: ${{ secrets.saucelabs_api_key }}
        SECURE_STORE_PASSWORD: ${{ secrets.secure_store_password }}
      run: make sauce

  scan-books:
    name: Scan
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2020-01-26
    needs: setup
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/cache@v2
      id: node_modules
      with:
        path: node_modules
        key: node_modules8
    - run: yarn install
    - run: ./script/validate-modified-books.bash
      env:
        BASE_URL: ${{ needs.setup.outputs.deployment-url }}

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: dependencies
    strategy:
      fail-fast: false
      matrix:
        suite: [unit, build]
    env:
      CI: true
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/cache@v2
      id: node_modules
      with:
        path: node_modules
        key: node_modules8
    - uses: actions/cache@v2
      id: swagger_clients 
      with:
        path: src/clients 
        key: swagger_clients 
    - run: yarn install
    - run: yarn ci:test:${{ matrix.suite }}
    - uses: actions/upload-artifact@v2
      if: ${{ failure() }}
      with:
        name: diff output
        path: "**/__diff_output__/*"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: openstax/rex-web:CI-2020-01-26
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/cache@v2
      id: node_modules
      with:
        path: node_modules
        key: node_modules8
    - run: yarn install
    - run: yarn lint
